<a href="https://colab.research.google.com/github/ShowBaba/Machine-Learning-/blob/master/cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [0]:
# load the datasets
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
z = test_df['EmployeeNo']
b = train_df['Promoted_or_Not']
train_df.shape

(38312, 19)

In [0]:
# merge the datasets for processing
df = [train_df, test_df]
df = pd.concat(df, keys=['x', 'y'])
a = df['EmployeeNo']
df = df.drop(columns=['EmployeeNo', 'Promoted_or_Not'])
df.shape

C:\Users\SAMUEL PC\Anaconda\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  This is separate from the ipykernel package so we can avoid doing imports until

(54808, 17)

In [0]:
df.isnull().sum()

Channel_of_Recruitment                    0
Division                                  0
Foreign_schooled                          0
Gender                                    0
Last_performance_score                    0
Marital_Status                            0
No_of_previous_employers                  0
Past_Disciplinary_Action                  0
Previous_Award                            0
Previous_IntraDepartmental_Movement       0
Qualification                          2409
State_Of_Origin                           0
Targets_met                               0
Training_score_average                    0
Trainings_Attended                        0
Year_of_birth                             0
Year_of_recruitment                       0
dtype: int64

In [0]:
# for column in df.columns:
#     if df[column].dtype == type(object):
#         le = LabelEncoder()
#         df[column] = le.fit_transform(df[column].astype(str))
# df.head()

In [0]:
df = pd.DataFrame(df)
df_null = df[df['Qualification'].isnull()]

In [0]:
df_null.shape

(2409, 17)

In [0]:
df_null = df_null.drop(columns=['Qualification'])

In [0]:
df.shape

(54808, 17)

In [0]:
df = df.dropna()

In [0]:
df.shape

(52399, 17)

In [0]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_null = df_null.apply(le.fit_transform)
df_null.head()

       Channel_of_Recruitment  Division  Foreign_schooled  Gender  \
x 15                        1         2                 1       1
  22                        1         1                 1       0
  28                        0         1                 1       1
  60                        1         1                 1       0
  137                       0         2                 1       0

       Last_performance_score  Marital_Status  No_of_previous_employers  \
x 15                        4               0                         1
  22                        1               0                         1
  28                        2               0                         1
  60                        0               2                         2
  137                       4               2                         5

       Past_Disciplinary_Action  Previous_Award  \
x 15                          0               0
  22                          0               0
  28                          0               0
  60                          0               0
  137                         0               0

       Previous_IntraDepartmental_Movement  State_Of_Origin  Targets_met  \
x 15                                     0               32            0
  22                                     0               11            0
  28                                     0                8            0
  60                                     0               36            0
  137                                    0               24            0

       Training_score_average  Trainings_Attended  Year_of_birth  \
x 15                       16                   0             19
  22                        7                   0             36
  28                        7                   2             36
  60                       14                   0             40
  137                      23                   0             27

       Year_of_recruitment
x 15                    16
  22                    25
  28                    25
  60                    26
  137                   18

In [0]:
df.shape

(52399, 17)

In [0]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df = df.apply(le.fit_transform)
df.head()

     Channel_of_Recruitment  Division  Foreign_schooled  Gender  \
x 0                       1         1                 0       0
  1                       0         2                 1       1
  2                       1         1                 1       1
  3                       0         1                 1       1
  4                       1         4                 1       1

     Last_performance_score  Marital_Status  No_of_previous_employers  \
x 0                       5               0                         0
  1                       5               0                         0
  2                       3               0                         0
  3                       1               2                         1
  4                       3               0                         1

     Past_Disciplinary_Action  Previous_Award  \
x 0                         0               0
  1                         0               0
  2                         0               0
  3                         0               0
  4                         0               0

     Previous_IntraDepartmental_Movement  Qualification  State_Of_Origin  \
x 0                                    0              1                3
  1                                    0              0                3
  2                                    0              0               20
  3                                    0              0               26
  4                                    0              0                2

     Targets_met  Training_score_average  Trainings_Attended  Year_of_birth  \
x 0            1                      10                   0             33
  1            0                      21                   0             38
  2            0                      11                   0             34
  3            0                      11                   1             29
  4            0                      46                   1             37

     Year_of_recruitment
x 0                   27
  1                   31
  2                   28
  3                   25
  4                   28

In [0]:
X = df.drop(columns=['Qualification'])
y = df['Qualification']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
# reg = LogisticRegression()
# reg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [0]:
c_space = np.logspace(-5, 10, 25)
param_grid = {'C': c_space}
# C_param_range = [0.001, 0.01, 0.1, 1, 10, 100]
# for i in C_param_range:
logreg = LogisticRegression(
                           C=1,
                           max_iter=3000,
                           penalty='l1',
                          random_state=8,
                          verbose=3)
logreg_cv = GridSearchCV(logreg, param_grid, cv=9)
logreg_cv.fit(X, y)

[LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear]

KeyboardInterrupt:

In [0]:
# from sklearn.linear_model import LogisticRegression
# reg = LogisticRegression(penalty='l1',dual=False,max_iter=1000)

# reg.fit(X_train, y_train)

In [0]:
# coeff_df = pd.DataFrame(reg.coef_, X.columns, columns=['Coefficient'])
# coeff_df

In [0]:
pred = reg.predict(X_test)

reg.score(X_train, y_train)

0.7048116605835063

In [0]:
pred = reg.predict(df_null)

In [0]:
df_null.head()

       Channel_of_Recruitment  Division  Foreign_schooled  Gender  \
x 15                        1         2                 1       1
  22                        1         1                 1       0
  28                        0         1                 1       1
  60                        1         1                 1       0
  137                       0         2                 1       0

       Last_performance_score  Marital_Status  No_of_previous_employers  \
x 15                        4               0                         1
  22                        1               0                         1
  28                        2               0                         1
  60                        0               2                         2
  137                       4               2                         5

       Past_Disciplinary_Action  Previous_Award  \
x 15                          0               0
  22                          0               0
  28                          0               0
  60                          0               0
  137                         0               0

       Previous_IntraDepartmental_Movement  State_Of_Origin  Targets_met  \
x 15                                     0               32            0
  22                                     0               11            0
  28                                     0                8            0
  60                                     0               36            0
  137                                    0               24            0

       Training_score_average  Trainings_Attended  Year_of_birth  \
x 15                       16                   0             19
  22                        7                   0             36
  28                        7                   2             36
  60                       14                   0             40
  137                      23                   0             27

       Year_of_recruitment
x 15                    16
  22                    25
  28                    25
  60                    26
  137                   18

In [0]:
df_null['Qualification'] = pred
df_null.shape

(2409, 17)

In [0]:
df_null.head()

       Channel_of_Recruitment  Division  Foreign_schooled  Gender  \
x 15                        1         2                 1       1
  22                        1         1                 1       0
  28                        0         1                 1       1
  60                        1         1                 1       0
  137                       0         2                 1       0

       Last_performance_score  Marital_Status  No_of_previous_employers  \
x 15                        4               0                         1
  22                        1               0                         1
  28                        2               0                         1
  60                        0               2                         2
  137                       4               2                         5

       Past_Disciplinary_Action  Previous_Award  \
x 15                          0               0
  22                          0               0
  28                          0               0
  60                          0               0
  137                         0               0

       Previous_IntraDepartmental_Movement  State_Of_Origin  Targets_met  \
x 15                                     0               32            0
  22                                     0               11            0
  28                                     0                8            0
  60                                     0               36            0
  137                                    0               24            0

       Training_score_average  Trainings_Attended  Year_of_birth  \
x 15                       16                   0             19
  22                        7                   0             36
  28                        7                   2             36
  60                       14                   0             40
  137                      23                   0             27

       Year_of_recruitment  Qualification
x 15                    16              1
  22                    25              0
  28                    25              0
  60                    26              0
  137                   18              0

In [0]:
df_null.shape

(2409, 17)

In [0]:
# df = df.append(df_null)
df.isnull().sum()

Channel_of_Recruitment                 0
Division                               0
Foreign_schooled                       0
Gender                                 0
Last_performance_score                 0
Marital_Status                         0
No_of_previous_employers               0
Past_Disciplinary_Action               0
Previous_Award                         0
Previous_IntraDepartmental_Movement    0
Qualification                          0
State_Of_Origin                        0
Targets_met                            0
Training_score_average                 0
Trainings_Attended                     0
Year_of_birth                          0
Year_of_recruitment                    0
dtype: int64

In [0]:
df.shape

(52399, 17)

In [0]:
df = df.append(df_null)

C:\Users\SAMUEL PC\Anaconda\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [0]:
a = pd.DataFrame(a)

In [0]:
df.shape

(54808, 17)

In [0]:
df.isnull().sum()

Channel_of_Recruitment                 0
Division                               0
Foreign_schooled                       0
Gender                                 0
Last_performance_score                 0
Marital_Status                         0
No_of_previous_employers               0
Past_Disciplinary_Action               0
Previous_Award                         0
Previous_IntraDepartmental_Movement    0
Qualification                          0
State_Of_Origin                        0
Targets_met                            0
Training_score_average                 0
Trainings_Attended                     0
Year_of_birth                          0
Year_of_recruitment                    0
dtype: int64

In [0]:
df['EmployeeNo'] = a

In [0]:
df.shape

(54808, 18)

In [0]:
df.head()

     Channel_of_Recruitment  Division  Foreign_schooled  Gender  \
x 0                       1         1                 0       0
  1                       0         2                 1       1
  2                       1         1                 1       1
  3                       0         1                 1       1
  4                       1         4                 1       1

     Last_performance_score  Marital_Status  No_of_previous_employers  \
x 0                       5               0                         0
  1                       5               0                         0
  2                       3               0                         0
  3                       1               2                         1
  4                       3               0                         1

     Past_Disciplinary_Action  Previous_Award  \
x 0                         0               0
  1                         0               0
  2                         0               0
  3                         0               0
  4                         0               0

     Previous_IntraDepartmental_Movement  Qualification  State_Of_Origin  \
x 0                                    0              1                3
  1                                    0              0                3
  2                                    0              0               20
  3                                    0              0               26
  4                                    0              0                2

     Targets_met  Training_score_average  Trainings_Attended  Year_of_birth  \
x 0            1                      10                   0             33
  1            0                      21                   0             38
  2            0                      11                   0             34
  3            0                      11                   1             29
  4            0                      46                   1             37

     Year_of_recruitment   EmployeeNo
x 0                   27  YAK/S/00001
  1                   31  YAK/S/00002
  2                   28  YAK/S/00003
  3                   25  YAK/S/00004
  4                   28  YAK/S/00006

In [0]:
df.shape

(54808, 18)

In [0]:
df.tail()

         Channel_of_Recruitment  Division  Foreign_schooled  Gender  \
y 16386                       1         2                 1       1
  16429                       0         1                 1       1
  16454                       1         4                 1       0
  16464                       1         4                 1       1
  16469                       0         1                 1       1

         Last_performance_score  Marital_Status  No_of_previous_employers  \
y 16386                       5               0                         5
  16429                       2               0                         1
  16454                       3               0                         0
  16464                       3               0                         1
  16469                       4               2                         1

         Past_Disciplinary_Action  Previous_Award  \
y 16386                         0               0
  16429                         0               0
  16454                         0               0
  16464                         0               0
  16469                         0               0

         Previous_IntraDepartmental_Movement  Qualification  State_Of_Origin  \
y 16386                                    0              0               27
  16429                                    0              0               16
  16454                                    0              0               14
  16464                                    0              0               13
  16469                                    0              0               13

         Targets_met  Training_score_average  Trainings_Attended  \
y 16386            0                      15                   0
  16429            0                       7                   0
  16454            0                      45                   0
  16464            0                      45                   0
  16469            0                       6                   0

         Year_of_birth  Year_of_recruitment   EmployeeNo
y 16386             27                   25  YAK/S/54466
  16429             36                   24  YAK/S/54600
  16454             32                   26  YAK/S/54687
  16464             28                   23  YAK/S/54718
  16469             32                   24  YAK/S/54743

In [0]:
df.to_csv('clean_df.csv')

In [0]:
# splitting the dataset back to test and train using the keys 'x' & 'y'
clean_train_df = df.loc['x']
clean_test_df = df.loc['y']
clean_train_df.shape
# clean_test_df.shape

(38312, 18)

In [0]:
clean_train_df['Promoted_or_Not'] = b

C:\Users\SAMUEL PC\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
clean_train_df.head()

,Channel_of_Recruitment,Division,Foreign_schooled,Gender,Last_performance_score,Marital_Status,No_of_previous_employers,Past_Disciplinary_Action,Previous_Award,Previous_IntraDepartmental_Movement,Qualification,State_Of_Origin,Targets_met,Training_score_average,Trainings_Attended,Year_of_birth,Year_of_recruitment,EmployeeNo,Promoted_or_Not
0,1,1,0,0,5,0,0,0,0,0,1,3,1,10,0,33,27,YAK/S/00001,0
1,0,2,1,1,5,0,0,0,0,0,0,3,0,21,0,38,31,YAK/S/00002,0
2,1,1,1,1,3,0,0,0,0,0,0,20,0,11,0,34,28,YAK/S/00003,0
3,0,1,1,1,1,2,1,0,0,0,0,26,0,11,1,29,25,YAK/S/00004,0
4,1,4,1,1,3,0,1,0,0,0,0,2,0,46,1,37,28,YAK/S/00006,0

In [0]:
clean_test_df.head()

,Channel_of_Recruitment,Division,Foreign_schooled,Gender,Last_performance_score,Marital_Status,No_of_previous_employers,Past_Disciplinary_Action,Previous_Award,Previous_IntraDepartmental_Movement,Qualification,State_Of_Origin,Targets_met,Training_score_average,Trainings_Attended,Year_of_birth,Year_of_recruitment,EmployeeNo
0,0,3,1,1,3,0,1,0,0,0,0,14,0,34,0,23,33,YAK/S/00005
2,1,7,1,1,3,0,1,0,0,0,1,19,0,45,0,31,28,YAK/S/00015
3,0,2,0,1,1,2,1,0,0,0,0,32,0,21,0,31,25,YAK/S/00016
4,0,3,1,1,3,0,0,0,0,0,0,14,1,38,0,30,30,YAK/S/00017
5,0,1,1,1,5,0,1,0,0,0,0,6,1,7,0,34,27,YAK/S/00019

In [0]:
# clean_train_df.to_csv('clean_train.csv')
# clean_test_df.to_csv('clean_test.csv')