<a href="https://colab.research.google.com/github/ShowBaba/Machine-Learning-/blob/master/extras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# as observed only the "Qualification" column has null values
# create a datafreme of the column to work on next
null_df = df['Qualification']
df = df.drop(columns=['Qualification'])
null_df = null_df.replace({'MSc, MBA and PhD':1, 'First Degree or HND':2, 'Non-University Education':3})
null_df.head()

In [0]:
cat_col = []
for i in df.columns:
    if df[i].dtype == 'O':
        cat_col.append(i)
    else:
        pass
    
cat_col

In [0]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df = df.apply(le.fit_transform)
df.head()

In [0]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df = df.apply(le.fit_transform)
df.head()

In [0]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                  columns=['letter', 'number'])

df2 = pd.DataFrame([['c', 1], ['e', 2]],
                  columns=['letter', 'number'])

al = pd.concat([df1, df2], keys=['x', 'y'])
al

    letter  number
x 0      a       1
  1      b       2
y 0      c       1
  1      e       2

In [0]:
al.loc['x']

  letter  number
0      a       1
1      b       2